
<div class="row">
    <div class="col-md-12 my-4">
        <h1>List of users 
            <span class="badge ml-3" [ngClass]="{
                'badge-primary': usersResult.length,
                'badge-danger': !usersResult.length
            }">
                {{ usersResult.length }}
            </span> 
        </h1>
  
      <app-search my-title="Search User in Atos" (searchItemEvent)="searchUsers($event)"></app-search>
        
    </div>
</div>

<div class="row">
    <div class="col-md-4" *ngFor="let user of usersResult">
       <app-panel>
           <div class="body">
               <a [href]="user.html_url" class="btn btn-link"></a>
           </div>
           <ng-container class="heading">{{ user.login }}</ng-container>
           <img class="card-img-top picture" [src]="user.avatar_url" alt="">
       </app-panel>
    </div>
</div>