
<div class="jumbotron">
    <h1 class="display-3">Atos Origin</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div>

<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th>head 1</th>
            <th>head 2</th>
            <th>head 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
        <tr>
            <td>data item 1</td>
            <td>data item 2</td>
            <td>data item 3</td>
        </tr>
    </tbody>
</table>